body {
    padding: 0;
    margin: 0;
    background-color: #f3b2bd2c;
}

.navbar {
    background: #010a1c;
}

.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
    padding-left: 25px;
}

.nav-link:hover {
    background-color: #fff;
    color: #ac0e28;
    font-weight: bold;
}

.nav-link {
    margin-right: 1em !important;
}

.navbar-collapse {
    justify-content: flex-end;
}


/************ Header **************/

.header {
    background-image: url('/images/header-pic.JPG');
    background-size: cover;
    background-position: center;
    position: relative;
}

.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
}

.description {
    left: 50%;
    position: absolute;
    top: 45%;
    transform: translate(-50%, -55%);
    text-align: center;
}

.description h2 {
    color: #fff;
    position: absolute;
    top: -10%;
}

.description-com {
    color: #fff;
    top: 0%;
}

.description p {
    color: #fff;
    font-size: 1.3rem;
    line-height: 1.5;
    padding-bottom: 50px;
}

.description button {
    border: 1px solid #010a1c;
    background-color: #ac0e28;
    border-radius: 5;
    color: #fff;
}

.description button:hover {
    border: 1px solid #ac0e28;
    background-color: #fff;
    color: #000;
}


/***************** Statement *********************/

.statement {
    margin: 50px auto;
    padding: 50px;
    text-align: center;
    font-style: italic;
    font-weight: 500;
}


/********************* Fixtures *******************/

.fixtures {
    color: #fff;
    background-color: #013766;
    min-height: auto;
    margin-bottom: 150px;
}


/**************** Features***************/

.features {
    background-color: #fff;
    padding: 2em;
    position: relative;
    box-shadow: 1px 1px 40px rgba(0, 0, 0, 0.671);
    margin-bottom: 150px;
}

.features-title {
    color: #333;
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.features img {
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    margin: 20px 0;
}

.features .btn-features {
    border: 1px solid #010a1c;
    background-color: #010a1c;
    border-radius: 5;
    color: #fff;
}


/************* Administrative Staff ***********/

.background {
    background-color: #ac0e28;
    padding: 2em 0;
    color: #fff;
}

.staff {
    color: #ffffff;
    padding: 40 40px;
}

.team .card-columns {
    column-count: 4;
}

.staff {
    background-color: none;
    border: none;
}

.staff .card-title .card-text {
    font-size: 1rem;
    margin-bottom: 0;
}

.details-container {
    display: grid;
    grid-template-columns: .75fr;
    gap: 1rem;
    min-width: 20rem;
    align-items: center;
}

details {
    border-radius: .3rem;
    border-left-width: .2rem solid #fff;
    background-color: #ac0e28;
}

.details-container p {
    font-weight: 100;
    margin: 0.4rem 0 0 0;
}

summary:hover {
    background-color: #013766;
    padding: 10px;
    border-radius: 10px;
    transition: all 0.6s;
}


/******************** FOOTER *********************/

.page-footer {
    background-color: #010a1c;
    color: #ccc;
    padding: 60px;
}


/***************** CONTACT PAGE *****************/


/* .header-contact {
    background-image: url('/images/header-pic-contacts.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
} */


/***************** Features ******************/

.features {
    margin-top: 50px;
}

.features .form-control,
.features input {
    border-radius: 0;
    margin-top: ;
}

.features .btn {
    background-color: #ac0e28;
    border: 1px solid #ac0e28;
    margin-top: 20px;
}

.features .btn:hover {
    background-color: #010a1c;
    border: 1px solid #333;
    color: #ffffff;
}


/******************* Modal ******************/

#subscribe-modal .modal-content {
    border-radius: 0;
    padding: 2rem;
}

#subscribe-modal .modal-header {
    border-bottom: none;
}

.modal-content {}


/* .close span {
    font-size: 12px;
} */

#subscribe-modal h4 {
    color: #010a1c;
    font-size: 30px;
    margin: 0 0 25px;
    font-weight: bold;
    text-transform: capitalize;
}

#subscribe-modal .close {
    background-color: #c0c3c8;
    border-radius: 50%;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    height: 50px;
    opacity: 0.5;
    position: absolute;
    right: 26px;
    text-align: center;
    top: 26px;
    width: 70px;
}

#subscribe-modal .close span {
    color: #010a1c;
    position: relative;
    top: -3px;
}

#subscribe-modal .modal-body p {
    color: #010a1c;
}

#subscribe-modal .form-control,
#subscribe-modal .btn {
    min-height: 46px;
}

#subscribe-modal .btn {
    background-color: #010a1c;
    border: none;
    columns: #fff;
    min-width: 150px;
    transition: all 0.4s;
}

#subscribe-modal .btn:hover,
#subscribe-modal .btn:focus {
    background-color: #ac0e28;
}


/*************** Media Queries ****************/

@media(max-width: 600px) {
    .description {
        left: 0;
        padding: 0 15px;
        position: absolute;
        top: 10%;
        transform: none;
        text-align: center;
    }
    .description h2 {
        font-size: 2em;
        text-align: center;
        position: absolute;
        left: 15%;
    }
    .description p {
        font-size: 1.3rem;
    }
    .statement p {
        font-size: 1.1rem;
    }
    .features button {
        margin-bottom: 35px;
    }
    .features-title {
        background-color: #010a1c;
        color: #fff;
        padding: 10px;
    }
}