body {
    padding: 0;
    margin: 0;
    background-color: #f3b2bd2c;
}

.navbar {
    background: #013766;
}

.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
}

.nav-link {
    margin-right: 1em !important;
}

.navbar-collapse {
    justify-content: flex-end;
}


/************ Header **************/

.header {
    background-image: url('/images/header-pic.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
}

.description {
    left: 50%;
    position: absolute;
    top: 45%;
    transform: translate(-50%, -55%);
    text-align: center;
}

.description h1 {
    color: #ac0e28;
}

.description p {
    color: #fff;
    font-size: 1.3rem;
    line-height: 1.5;
}

.description button {
    border: 1px solid #010a1c;
    background-color: #ac0e28;
    border-radius: 5;
    color: #fff;
}

.description button:hover {
    border: 1px solid #ac0e28;
    background-color: #fff;
    color: #000;
}


/***************** Statement *********************/

.statement {
    margin: 50px auto;
    padding: 50px;
    text-align: center;
    font-style: italic;
    font-weight: 500;
}


/**************** Features***************/

.features {
    background-color: #fff;
    padding: 2em;
    position: relative;
}

.features-title {
    color: #333;
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.features img {
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    margin: 20px 0;
}

.features .btn-features {
    border: 1px solid #010a1c;
    background-color: #010a1c;
    border-radius: 5;
    color: #fff;
}


/************* Administrative Staff ***********/

.background {
    background-color: #010a1c;
    padding: 2em 0;
}

.staff {
    color: #5e5e55;
    padding: 0 180px;
}

.team .card-columns {
    column-count: 4;
}

.team .card {
    background-color: none;
    border: none;
}

.team .card-title {
    font-size: 1.3rem;
    margin-bottom: 0;
    text-transform: uppercase;
}

.card {
    margin: 20px;
}


/******************** FOOTER *********************/

.page-footer {
    background-color: #013766;
    color: #ccc;
    padding: 60px;
}


/***************** CONTACT PAGE *****************/


/***************** Features ******************/

.features .form-control,
.features input {
    border-radius: 0;
}

.features .btn {
    background-color: #ac0e28;
    border: 1px solid #ac0e28;
    margin-top: 20px;
}

.features .btn:hover {
    background-color: #010a1c;
    border: 1px solid #333;
    color: #ffffff;
}